footer{
        margin: auto;
}
.email_footer{
        
        height: 80px;
        border:none;
        background-color: #3aa88e;
        display: flex;
}


.input_footer{
        margin-top: 25px;
        margin-left: 150px;
        
}
.letter_footer{
        margin-left:80px ;
        font-size: 18px;
}
#submit{
        color: white;
        background-color: red;
        border-radius: 5px;
        border: none;
        width: 100px;
        height: 35px;
        font-size: 18px;
}
#email{
        border-radius: 5px;
        width: 250px;
        height: 30px;
        font-size: 18px;
        color: gray;
        border: none;
        margin-left: 50px;
       
}
.footer{
        background-image: url(../upload/banner_footer.png);
        height:300px ;
        position: relative;
}
#logo{
        width: 400px;
        margin-top: -50px;
        margin-left: -30px;
}
.footer_box1{
        width: 300px;
        display: inline-block;
        position: absolute;
        color: white;
        margin-left:50px;
}



.footer_box2{
        margin-left: 35%;
        width: 500px;
        display: inline-block;
        position: absolute;
        color: white;
        
}
