*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.font-thu-phap{
    font-family: 'Great Vibes', cursive;
}
:root{
    --bg-main: #3AA88E;
}

.color-main{
    color: #3AA88E;
}
.nav{
    background: var(--bg-main);
}
.nav .logo img{ 
    height: 80px;
}
.nav .menu h4{
    transition: .5s;
}
.nav .menu h4:hover{
color: rgb(37, 13, 122);

}
article .filter{
background: var(--bg-main);
}
.form-filter{
    display: flex;
    justify-content: space-evenly;
}
.chon-tour{
    background: #64B899;
    color: white;
    display: flex;
}
.chon-tour h6{
    text-align: center;
    transition: .2s;
}

.chon-tour img{
    height: 100px;
    width: 70%;
}
.mien .contentt{
    background-color: var(--bg-main);
}
.mien-bac .tour{
    background: url('../../upload/mien-bac-bg.png');
}
.mien-trung .tour{
    background: url('../../upload/mien-trung-bg.png');
}
.mien-nam .tour{
    background: url('../../upload/mien-nam.png');
}
.image-tour{
    overflow: hidden;
    height: 200px;
}
.image-tour img{
    transition: .3s;
    transform: rotate(0deg);
}
.tourr:hover img{
    transform: scale(1.3);
}
.khoanh-khac-lu-hanh{
    background: url('../../upload/khoanh-khac-lu-hanh.png');
}
/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 5s;
  }
  
  @keyframes fade {
    from {opacity: .7} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  /* end slide show */
/* gioi thieu */
.baoimg .img{
    max-width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

 }

 .baoimg .img img{
    max-width: 220px;
  
 }
 /* chi tiết tour */
 .mota{
    word-wrap: break-word;
 padding-right: 12px !important;
 }
 .tourr{
    height: 450px;
 }
 .tourr .content{
   
    height: 250px;
 }
 .title-tour{
  
    height: 80px;
    text-overflow: ellipsis;
    text-align: start !important;
    margin-bottom: 5px !important;
 }
 .title-tour a{
    transition: .3s;
 }

/* bình luận */
.boxtitle{
    vertical-align: middle;
}
.tour-suggest .img-suggest img{
height: 100px;
width: 100%;
}
 